@font-face {
  font-family: "Matchbook";
  src: url("./fonts/Matchbook.eot");
  src: url("./fonts/Matchbook.eot?#iefix") format("embedded-opentype"), url("./fonts/Matchbook.ttf");
  font-weight: normal; }

@font-face {
  font-family: "Champagne";
  src: url("./fonts/Champagne_&_Limousines.eot");
  src: url("./fonts/Champagne_&_Limousines.eot?#iefix") format("embedded-opentype"), url("./fonts/Champagne_&_Limousines.ttf");
  font-weight: normal; }

@font-face {
  font-family: "Champagne Bold";
  src: url("./fonts/Champagne_&_Limousines_Bold.eot");
  src: url("./fonts/Champagne_&_Limousines_Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/Champagne_&_Limousines_Bold.ttf");
  font-weight: bold;
  font-style: normal; }

ul#team {
  margin: 0;
  padding: 0;
  list-style: none; }
  ul#team li {
    margin-bottom: 12px; }

span.name {
  font-weight: bold; }

h2, h3 {
  clear: both; }

ul#team li {
  display: table;
  vertical-align: top; }
  ul#team li img, ul#team li p {
    display: block;
    text-align: left; }
  ul#team li img {
    width: 100px;
    float: left;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -khtml-border-radius: 50px;
    border-radius: 50px;
    margin-right: 12px; }
  ul#team li p {
    margin: 0;
    padding: 0;
    margin-bottom: 12px; }
