@font-face {
  font-family: "Matchbook";
  src: url("./fonts/Matchbook.ttf");
  src: local("Matchbook"), url("./fonts/Matchbook.ttf") format("truetype");
  font-weight: normal; }

@font-face {
  font-family: "Champagne";
  src: url("./fonts/Champagne_&_Limousines.ttf");
  src: local("Champagne & Limousines"), url("./fonts/Champagne_&_Limousines.ttf") format("truetype");
  font-weight: normal; }

@font-face {
  font-family: "Champagne Bold";
  src: url("./fonts/Champagne_&_Limousines_Bold.ttf");
  src: local("Champagne & Limousines Bold"), url("./fonts/Champagne_&_Limousines_Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

ul#team {
  margin: 0;
  padding: 0;
  list-style: none; }
  ul#team li {
    margin-bottom: 12px; }

span.name {
  font-weight: bold; }

h2, h3 {
  clear: both; }

img#about-logo {
  box-shadow: 2px 3px #c53d13;
  -moz-border-radius: 33.33333px;
  -webkit-border-radius: 33.33333px;
  -khtml-border-radius: 33.33333px;
  border-radius: 33.33333px;
  padding: 6px;
  width: 200px;
  margin-left: 24px;
  float: right;
  vertical-align: middle;
  background-color: rgba(240, 126, 45, 0.8); }
