@font-face {
  font-family: "Matchbook";
  src: url("./fonts/Matchbook.ttf");
  src: local("Matchbook"), url("./fonts/Matchbook.ttf") format("truetype");
  font-weight: normal; }

@font-face {
  font-family: "Champagne";
  src: url("./fonts/Champagne_&_Limousines.ttf");
  src: local("Champagne & Limousines"), url("./fonts/Champagne_&_Limousines.ttf") format("truetype");
  font-weight: normal; }

@font-face {
  font-family: "Champagne Bold";
  src: url("./fonts/Champagne_&_Limousines_Bold.ttf");
  src: local("Champagne & Limousines Bold"), url("./fonts/Champagne_&_Limousines_Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

div#links-to-parts-of-site {
  margin: 0 auto;
  text-align: center;
  padding: 24px;
  padding-top: 0; }
  div#links-to-parts-of-site a {
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -khtml-border-radius: 12px;
    border-radius: 12px;
    text-shadow: #c53d13 1px 2px 0;
    background-color: #ec6338;
    color: #f9c36f;
    text-decoration: none;
    font-weight: bold; }
    div#links-to-parts-of-site a:hover, div#links-to-parts-of-site a.selected {
      background-color: #c53d13; }
  div#links-to-parts-of-site a#link-to-map, div#links-to-parts-of-site a#link-to-getcopy {
    padding: 24px;
    margin-right: 12px;
    min-height: 48px;
    display: inline-block; }
  div#links-to-parts-of-site a span {
    display: block; }
  div#links-to-parts-of-site a img {
    width: 150px;
    margin: 12px; }
