@font-face {
  font-family: "Matchbook";
  src: url("./fonts/Matchbook.eot");
  src: url("./fonts/Matchbook.eot?#iefix") format("embedded-opentype"), url("./fonts/Matchbook.ttf");
  font-weight: normal; }

@font-face {
  font-family: "Champagne";
  src: url("./fonts/Champagne_&_Limousines.eot");
  src: url("./fonts/Champagne_&_Limousines.eot?#iefix") format("embedded-opentype"), url("./fonts/Champagne_&_Limousines.ttf");
  font-weight: normal; }

@font-face {
  font-family: "Champagne Bold";
  src: url("./fonts/Champagne_&_Limousines_Bold.eot");
  src: url("./fonts/Champagne_&_Limousines_Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/Champagne_&_Limousines_Bold.ttf");
  font-weight: bold;
  font-style: normal; }

div#links-to-parts-of-site {
  margin: 0 auto;
  text-align: center;
  padding: 24px;
  padding-top: 0; }
  div#links-to-parts-of-site a {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    text-shadow: #c53d13 1px 2px 0;
    background-color: #ec6338;
    color: #f9c36f;
    text-decoration: none;
    font-weight: bold;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
    div#links-to-parts-of-site a:hover, div#links-to-parts-of-site a.selected, div#links-to-parts-of-site a:focus {
      background-color: #c53d13; }
  div#links-to-parts-of-site a {
    padding: 24px;
    margin: 12px;
    display: inline-block; }
    div#links-to-parts-of-site a span {
      display: block;
      font-size: 1.2em; }
      div#links-to-parts-of-site a span.small-btn-title {
        font-size: 0.8em; }
    div#links-to-parts-of-site a img {
      width: 150px;
      margin: 12px; }

@media only screen and (max-width: 650px) {
  div#links-to-parts-of-site {
    padding: 3px; }
    div#links-to-parts-of-site a span {
      font-size: 1em; }
    div#links-to-parts-of-site a img {
      width: 80px; } }
