@font-face {
  font-family: "Matchbook";
  src: url("./fonts/Matchbook.eot");
  src: url("./fonts/Matchbook.eot?#iefix") format("embedded-opentype"), url("./fonts/Matchbook.ttf");
  font-weight: normal; }

@font-face {
  font-family: "Champagne";
  src: url("./fonts/Champagne_&_Limousines.eot");
  src: url("./fonts/Champagne_&_Limousines.eot?#iefix") format("embedded-opentype"), url("./fonts/Champagne_&_Limousines.ttf");
  font-weight: normal; }

@font-face {
  font-family: "Champagne Bold";
  src: url("./fonts/Champagne_&_Limousines_Bold.eot");
  src: url("./fonts/Champagne_&_Limousines_Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/Champagne_&_Limousines_Bold.ttf");
  font-weight: bold;
  font-style: normal; }

div#map-canvas {
  border-bottom: 1px solid #c53d13;
  margin-bottom: 12px;
  width: 100%;
  height: 350px;
  background-color: #412218;
  color: #412218;
  font-family: "Champagne", Helvetica, Arial, sans-serif; }
  div#map-canvas div.iw-holder {
    min-width: 150px;
    overflow: auto; }
  div#map-canvas h3 {
    text-shadow: none;
    font-size: 1.2em;
    font-family: "Champagne", Helvetica, Arial, sans-serif;
    color: #90120e;
    padding: 0;
    margin: 0;
    display: block; }
  div#map-canvas a {
    display: inline-block;
    clear: both;
    margin-right: 6px; }

div#locations-list-wrapper {
  width: 100%; }
  div#locations-list-wrapper div#locations-list ul#locations {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: visible; }
    div#locations-list-wrapper div#locations-list ul#locations li {
      border-bottom: solid 1px #f8b582;
      padding: 12px;
      font-size: 0.8em; }
      div#locations-list-wrapper div#locations-list ul#locations li .title {
        font-weight: bold; }
      div#locations-list-wrapper div#locations-list ul#locations li span {
        display: block; }
        div#locations-list-wrapper div#locations-list ul#locations li span.loc-desc {
          display: block; }
          div#locations-list-wrapper div#locations-list ul#locations li span.loc-desc a {
            display: inline; }
          div#locations-list-wrapper div#locations-list ul#locations li span.loc-desc span.address {
            margin-bottom: 6px; }
      div#locations-list-wrapper div#locations-list ul#locations li.selected {
        background-color: #f8b582; }
  div#locations-list-wrapper div#search-bar-wrapper {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 6px;
    width: 100%;
    margin: 0 auto 6px auto;
    background-color: #f8b582;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    div#locations-list-wrapper div#search-bar-wrapper input#search-bar {
      width: 100%;
      border: none;
      margin: 0 auto;
      background-color: #f8b582;
      color: #90120e;
      font-family: "Champagne", Helvetica, Arial, sans-serif;
      font-weight: bold; }
    div#locations-list-wrapper div#search-bar-wrapper input:hover, div#locations-list-wrapper div#search-bar-wrapper input:focus {
      box-shadow: none;
      border: none; }

div#legend {
  width: 100%;
  background-color: #412218;
  color: #ffe9c6; }
  div#legend ul#map-legend {
    margin: 0;
    padding: 0;
    margin: 0 auto;
    max-width: 1000px; }
    div#legend ul#map-legend li {
      list-style: none;
      display: inline-block;
      font-size: 0.8em;
      margin-right: 12px;
      padding: 6px; }
      div#legend ul#map-legend li img {
        margin-right: 6px;
        width: 20px; }

div#zones {
  width: 100%;
  background-color: #c53d13; }
  div#zones ul#zones-list {
    margin: 0;
    padding: 0;
    margin: 0 auto;
    max-width: 1000px;
    list-style: none; }
    div#zones ul#zones-list li {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      display: inline-block; }
      div#zones ul#zones-list li a {
        padding: 6px 12px;
        display: block;
        background-color: transparent;
        text-decoration: none;
        color: #f9c36f;
        text-shadow: none;
        font-size: 0.8em; }
        div#zones ul#zones-list li a:hover {
          color: #f8b582;
          background-color: #c53d13; }
        div#zones ul#zones-list li a.selected {
          background-color: #f9c36f;
          color: #c53d13; }

@media only screen and (min-width: 650px) {
  div#map-canvas {
    position: relative;
    z-index: -1;
    float: left;
    height: 600px; }

  div#wrapper {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #ffe9c6;
    max-width: 30%;
    height: 600px;
    width: 30% !important;
    position: absolute;
    right: 0;
    padding: 12px;
    z-index: 100; } }
