@font-face {
  font-family: "Matchbook";
  src: url("./fonts/Matchbook.ttf");
  src: local("Matchbook"), url("./fonts/Matchbook.ttf") format("truetype");
  font-weight: normal; }

@font-face {
  font-family: "Champagne";
  src: url("./fonts/Champagne_&_Limousines.ttf");
  src: local("Champagne & Limousines"), url("./fonts/Champagne_&_Limousines.ttf") format("truetype");
  font-weight: normal; }

@font-face {
  font-family: "Champagne Bold";
  src: url("./fonts/Champagne_&_Limousines_Bold.ttf");
  src: local("Champagne & Limousines Bold"), url("./fonts/Champagne_&_Limousines_Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

body {
  background-color: #ffe9c6;
  color: #90120e;
  font-family: "Champagne", Helvetica, Arial, sans-serif;
  font-size: 1.4em; }

header {
  box-shadow: 0px 0px 12px #160703;
  width: 100%;
  background-color: #ec6338;
  margin-top: 0; }
  header div#header-wrapper {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: table;
    border-spacing: 6px; }
    header div#header-wrapper div {
      display: table-cell;
      min-width: 80%; }
      header div#header-wrapper div img#logo {
        display: block;
        float: left;
        width: 80px;
        vertical-align: middle; }
      header div#header-wrapper div h1 {
        text-shadow: #c53d13 1px 2px 0;
        display: inline;
        margin-left: 12px;
        color: #f9c36f;
        font-size: 3em;
        text-align: left; }

nav {
  display: table-cell;
  vertical-align: middle; }
  nav ul {
    margin: 0;
    float: right; }
    nav ul li {
      text-shadow: #c53d13 1px 2px 0;
      display: inline;
      margin-right: 6px; }
      nav ul li a {
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        -khtml-border-radius: 6px;
        border-radius: 6px;
        color: #f9c36f;
        text-decoration: none;
        padding: 6px;
        font-weight: bold; }
        nav ul li a:hover {
          background-color: #c53d13; }

div#wrapper {
  width: 95%;
  margin: 0 auto;
  max-width: 1000px;
  margin: 0 auto; }

div.clear-both {
  clear: both; }

h1, h2, h3, h4 {
  text-shadow: white 1px 2px 0;
  font-family: Matchbook, Tahoma, sans-serif;
  margin: 12px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-bottom: -12px; }

h1 {
  color: #90120e;
  font-size: 5em; }

h2 {
  color: #90120e;
  font-size: 3em; }

h3 {
  font-size: 2em;
  margin-bottom: 0; }

a {
  color: #c53d13; }

p {
  margin-top: 0; }
  p.desc {
    text-align: center; }

footer {
  box-shadow: 0px 0px 12px #160703;
  clear: both;
  background-color: #412218;
  padding: 12px; }
  footer div#sponsors {
    max-width: 1000px;
    margin: 0 auto; }
    footer div#sponsors ul#sponsor_list {
      width: 100%;
      padding: 0;
      display: table;
      text-align: center; }
      footer div#sponsors ul#sponsor_list li {
        display: table-cell;
        max-width: 100px; }
        footer div#sponsors ul#sponsor_list li img {
          vertical-align: top;
          margin: 0 auto;
          margin-bottom: 12px;
          max-width: 100px;
          display: block; }
        footer div#sponsors ul#sponsor_list li span {
          display: block;
          vertical-align: bottom; }
  footer h1, footer h2, footer h3, footer p, footer a {
    color: #f8b582;
    text-shadow: #160703 0 -1px 0; }
  footer a {
    text-decoration: none;
    font-weight: bold; }
  footer p {
    font-size: 0.5em;
    font-style: italic;
    text-align: center; }

@media screen and (max-width: 500px) {
  nav ul {
    float: none;
    display: block; } }
::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
  color: #ec6338; }

.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #f8b582 !important; }

.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #f8b582 !important; }

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #c53d13 !important; }
