@font-face {
  font-family: "Matchbook";
  src: url("./fonts/Matchbook.ttf");
  src: local("Matchbook"), url("./fonts/Matchbook.ttf") format("truetype");
  font-weight: normal; }

@font-face {
  font-family: "Champagne";
  src: url("./fonts/Champagne_&_Limousines.ttf");
  src: local("Champagne & Limousines"), url("./fonts/Champagne_&_Limousines.ttf") format("truetype");
  font-weight: normal; }

@font-face {
  font-family: "Champagne Bold";
  src: url("./fonts/Champagne_&_Limousines_Bold.ttf");
  src: local("Champagne & Limousines Bold"), url("./fonts/Champagne_&_Limousines_Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

body {
  background-color: #ffe9c6;
  color: #90120e;
  font-family: "Champagne", Helvetica, Arial, sans-serif;
  font-size: 1.4em; }

header {
  width: 100%;
  background-color: #ec6338;
  margin-top: 0; }
  header div#header-wrapper {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    border-spacing: 6px;
    display: table; }
    header div#header-wrapper div {
      white-space: no-wrap;
      display: table-cell;
      vertical-align: middle; }
      header div#header-wrapper div:first-child {
        width: 50%; }
      header div#header-wrapper div img#logo {
        display: block;
        float: left;
        width: 80px; }
  header h1 {
    text-shadow: #c53d13 1px 2px 0;
    margin: 0;
    padding: 0;
    font-size: 3em;
    text-align: left;
    display: inline-block;
    line-height: 80px; }
    header h1 a {
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      -khtml-border-radius: 6px;
      border-radius: 6px;
      text-shadow: #c53d13 1px 2px 0;
      background-color: #ec6338;
      color: #f9c36f;
      text-decoration: none;
      font-weight: bold; }
      header h1 a:hover, header h1 a.selected {
        background-color: #c53d13; }
    header h1 a {
      margin-top: 12px;
      margin-bottom: 12px;
      margin-left: 12px;
      color: #f9c36f; }
    header h1 a:hover {
      background-color: #ec6338; }

nav {
  float: right; }
  nav ul {
    margin: 0;
    padding: 0; }
    nav ul li {
      display: inline-block;
      margin: 0 6px 6px; }
      nav ul li a {
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        -khtml-border-radius: 6px;
        border-radius: 6px;
        text-shadow: #c53d13 1px 2px 0;
        background-color: #ec6338;
        color: #f9c36f;
        text-decoration: none;
        font-weight: bold; }
        nav ul li a:hover, nav ul li a.selected {
          background-color: #c53d13; }
      nav ul li a {
        padding: 6px; }
  nav img#menu-icon {
    display: none;
    margin: 18px; }

div#wrapper {
  width: 95%;
  margin: 0 auto;
  max-width: 1000px;
  margin: 0 auto; }

div.clear-both {
  clear: both; }

h1, h2, h3, h4 {
  font-family: Matchbook, Tahoma, sans-serif;
  margin: 12px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0; }

h1 {
  color: #90120e;
  font-size: 4em; }

h2 {
  color: #90120e;
  font-size: 2.8em; }

h3 {
  color: #f07e2d;
  font-size: 2.4em;
  margin-bottom: 0; }

a {
  color: #c53d13;
  font-weight: bold; }

p {
  margin-top: 0;
  font-size: 1em;
  text-align: center; }
  p.desc {
    text-align: center; }

footer {
  clear: both;
  background-color: #90120e;
  padding: 12px;
  margin-top: 48px; }
  footer div#sponsors {
    max-width: 1000px;
    margin: 0 auto; }
  footer ul#sponsor_list {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    text-align: center; }
    footer ul#sponsor_list li {
      display: table-cell;
      vertical-align: middle;
      max-width: 100px; }
      footer ul#sponsor_list li img {
        margin: 0 auto;
        margin-bottom: 12px;
        max-width: 100px;
        display: block; }
      footer ul#sponsor_list li span {
        display: block;
        font-size: 0.8em; }
  footer h1, footer h2, footer h3, footer p, footer a {
    color: #ec6338;
    text-shadow: #412218 1px 2px 0; }
  footer a {
    text-decoration: none;
    font-weight: bold; }
  footer p {
    font-size: 0.5em;
    font-style: italic;
    text-align: center; }

@media screen and (max-width: 500px) {
  nav ul {
    float: none;
    display: block; } }
::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
  color: #ec6338; }

.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #f8b582 !important; }

.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #f8b582 !important; }

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #c53d13 !important; }

div.heading-img {
  -moz-border-radius: 124px;
  -webkit-border-radius: 124px;
  -khtml-border-radius: 124px;
  border-radius: 124px;
  box-shadow: 2px 3px #412218;
  display: block;
  margin-top: 36px;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  background-color: #90120e;
  padding: 24px;
  width: 200px; }
  div.heading-img img {
    width: 176px;
    padding: 12px; }

.subtitle {
  font-family: "Champagne Bold", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  margiin-top: -24px;
  font-size: 1.3em;
  font-weight: bold;
  color: #f07e2d;
  text-shadow: #b15c41 1px 1px 0; }

@media only screen and (max-width: 650px) {
  nav ul {
    position: absolute;
    right: -9999px; }
  nav img#menu-icon {
    display: block; }

  h1 {
    font-size: 3em; }

  h2, h3 {
    font-size: 2em; } }
@media only screen and (max-width: 480px) {
  h1 {
    font-size: 2.2em; }

  h2, h3, h4 {
    font-size: 2em; }

  header h1 {
    font-size: 2em; }

  footer {
    padding: 6px; }
    footer ul#sponsor_list {
      display: block; }
      footer ul#sponsor_list li {
        display: inline-block; }
        footer ul#sponsor_list li span {
          display: none; }
        footer ul#sponsor_list li img {
          width: 80px; } }
