@font-face {
  font-family: "Matchbook";
  src: url("./fonts/Matchbook.ttf");
  src: local("Matchbook"), url("./fonts/Matchbook.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Champagne";
  src: url("./fonts/Champagne & Limousines.ttf");
  src: local("Champagne & Limousines"), url("./fonts/Champagne & Limousines.ttf") format("truetype");
  font-weight: normal;
}

/* line 25, .sass/style.sass */
body {
  background-color: #facc88;
}

/* line 28, .sass/style.sass */
div#wrapper {
  max-width: 700px;
  margin: 0 auto;
  padding: 12px;
}

/* line 33, .sass/style.sass */
header {
  background-color: #fee9c6;
  margin-top: 0;
}
/* line 36, .sass/style.sass */
header img#logo {
  margin: 12px auto;
  display: block;
}

/* line 39, .sass/style.sass */
h1 {
  color: #90110d;
  font-size: 3em;
}

/* line 43, .sass/style.sass */
h2 {
  color: #ec6338;
  font-size: 2em;
}

/* line 47, .sass/style.sass */
h3 {
  font-size: 1.5em;
}

/* line 50, .sass/style.sass */
h1, h2, h3, h4 {
  font-family: Matchbook, Tahoma, sans-serif;
  margin-bottom: 12px;
}

/* line 55, .sass/style.sass */
div#map-canvas {
  height: 500px;
  width: 100%;
  background-color: #412218;
  padding: 12px;
}

/* line 61, .sass/style.sass */
p {
  color: #412218;
  font-family: Champagne, Helvetica, Arial, sans-serif;
}

/* line 65, .sass/style.sass */
a {
  color: #ec6338;
}

/* line 68, .sass/style.sass */
footer {
  background-color: #412218;
  padding: 12px;
}
/* line 71, .sass/style.sass */
footer div#sponsors {
  width: 700px;
  margin: 0 auto;
}
/* line 74, .sass/style.sass */
footer h1, footer h2, footer h3, footer p {
  color: #facc88;
}
/* line 76, .sass/style.sass */
footer a {
  text-decoration: none;
  font-weight: bold;
}
/* line 79, .sass/style.sass */
footer img {
  max-width: 100px;
  display: block;
  margin-bottom: 12px;
}
