@font-face {
  font-family: "Matchbook";
  src: url("./fonts/Matchbook.ttf");
  src: local("Matchbook"), url("./fonts/Matchbook.ttf") format("truetype");
  font-weight: normal; }

@font-face {
  font-family: "Champagne";
  src: url("./fonts/Champagne & Limousines.ttf");
  src: local("Champagne & Limousines"), url("./fonts/Champagne & Limousines.ttf") format("truetype");
  font-weight: normal; }

body {
  background-color: #ec6338;
  color: #fee9c6;
  font-family: Champagne, Helvetica, Arial, sans-serif;
  font-size: 1.4em; }

div#wrapper {
  max-width: 700px;
  margin: 0 auto;
  padding: 12px; }

header {
  box-shadow: 0px 0px 12px #160703;
  background-color: #412218;
  background-image: url(../img/header_bg.jpg);
  margin-top: 0; }
  header img#logo {
    margin: 0 auto;
    padding: 12px;
    padding-bottom: 36px;
    display: block;
    width: 400px; }

h1, h2, h3, h4 {
  text-shadow: #91110e 0 -1px 0;
  font-family: Matchbook, Tahoma, sans-serif;
  margin: 12px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center; }

h1 {
  color: #facc88;
  font-size: 5em;
  margin-bottom: 0; }

h2 {
  color: #fee9c6;
  font-size: 3em; }

h3 {
  font-size: 2em; }

a {
  color: #facc88; }

p {
  margin-top: 0; }
  p.desc {
    text-align: center; }

div#map-canvas {
  box-shadow: 0px 0px 12px #160703;
  margin: 0 auto;
  height: 500px;
  width: 90%;
  background-color: #412218;
  padding: 12px; }

footer {
  box-shadow: 0px 0px 12px #160703;
  background-color: #412218;
  background-image: url("../img/header_bg.jpg");
  padding: 12px; }
  footer div#sponsors {
    max-width: 700px;
    margin: 0 auto; }
    footer div#sponsors ul#sponsor_list {
      width: 100%;
      padding: 0;
      display: table;
      text-align: center; }
      footer div#sponsors ul#sponsor_list li {
        display: table-cell;
        max-width: 100px; }
        footer div#sponsors ul#sponsor_list li img {
          vertical-align: top;
          margin: 0 auto;
          margin-bottom: 12px;
          max-width: 100px;
          display: block; }
        footer div#sponsors ul#sponsor_list li span {
          display: block;
          vertical-align: bottom; }
  footer h1, footer h2, footer h3, footer p, footer a {
    color: #facc88;
    text-shadow: #160703 0 -1px 0; }
  footer a {
    text-decoration: none;
    font-weight: bold; }

@media screen and (max-width: 700px) {
  ul#sponsor_list {
    display: block; } }
