@import 'constants'

// Everything Else
body
    background-color:  $light-beige
    color: $red
    font-family: $body-font
    font-size: 1.4em

header
    @include dark-shadow
    width: 100%
    background-color: $orange
    margin-top: 0
    div#header-wrapper
        max-width: $wrapper-width
        width: 100%
        margin: 0 auto
        display: table
        border-spacing: $space/ 2
        div 
            display: table-cell
            min-width: 80%
            img#logo
                display: block
                float: left
                width: $logo-size 
                vertical-align: middle

            h1 
                @include text-shadow($dark-orange)
                display: inline
                margin-left: $space
                color: $beige
                font-size: 3em
                text-align: left


nav 
    display: table-cell
    vertical-align: middle  
    ul
        margin: 0
        float: right
        li 
            @include text-shadow($dark-orange)
            display: inline
            margin-right: $space/2
            a
                @include rounded-corners($space/2)
                color: $beige 
                text-decoration: none
                padding: $space/2
                font-weight: bold
                &:hover
                    background-color: $dark-orange



div#wrapper
    @include wrapper-style
    max-width: $wrapper-width
    margin: 0 auto

div.clear-both
    clear: both

h1, h2, h3, h4 
    @include text-shadow($white)
    font-family: Matchbook, Tahoma, sans-serif
    margin: $space
    text-transform: uppercase
    font-weight: bold
    text-align: center
    margin-bottom: -$space

h1
    color: $red
    font-size: 5em

h2
    color: $red 
    font-size: 3em

h3 
    font-size: 2em
    margin-bottom: 0


a 
    color: $dark-orange

p
    margin-top: 0
    &.desc
        text-align: center


footer
    @include dark-shadow
    clear: both
    background-color: $brown
    padding: $space
    div#sponsors 
        max-width: $wrapper-width
        margin: 0 auto
        ul#sponsor_list
            width: 100%
            padding: 0  
            display: table
            text-align: center

            li 
                display: table-cell
                max-width: $sponsor_width
                img
                    vertical-align: top
                    margin: 0 auto
                    margin-bottom: $space
                    max-width: $sponsor_width
                    display: block
                span 
                    display: block
                    vertical-align: bottom

    h1, h2, h3, p, a 
        color: $light-orange
        text-shadow: $dark-brown 0 -1px 0

    a 
        text-decoration: none 
        font-weight: bold

    p 
        @include insignificant-text
        text-align: center


@media screen and (max-width: 500px)
    nav ul
        float: none
        display: block


//Placeholder text color
::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder 
    color: $orange

//Override mCustomScrollbar css
.mCSB_scrollTools .mCSB_draggerRail
    background-color: $scroller-rail-color !important

.mCSB_scrollTools .mCSB_draggerRail
    background-color: $scroller-rail-color  !important

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
    background: $dark-orange !important
