// Static variables

//Colors
$space: 12px
$white: #fff
$red: #91110E
$dark-red: #90110d
$orange: #ec6338
$light-orange: #facc88
$beige:#fee9c6
$brown: #412218
$dark-brown: #160703

// Proportions
$wrapper-width: 700px
$logo-size: 400px
$sponsor_width: 100px

// Custom Fonts
@font-face
    font-family: 'Matchbook'
    src: url('./fonts/Matchbook.ttf')
    src: local("Matchbook"), url('./fonts/Matchbook.ttf') format("truetype")
    font-weight: normal
@font-face
    font-family: 'Champagne'
    src: url('./fonts/Champagne & Limousines.ttf')
    src: local("Champagne & Limousines"), url('./fonts/Champagne & Limousines.ttf') format("truetype")
    font-weight: normal

//Mixins
@mixin dark-shadow
    box-shadow: 0px 0px $space $dark-brown

// Everything Else
body
    background-color:  $orange
    color: $beige
    font-family: Champagne, Helvetica, Arial, sans-serif
    font-size: 1.4em

div#wrapper
    max-width: $wrapper-width
    margin: 0 auto
    padding: $space

header
    @include dark-shadow
    background-color: $brown
    background-image: url(../img/header_bg.jpg)
    margin-top: 0
   
    img#logo
        margin: 0 auto
        padding: $space
        padding-bottom: $space * 3
        display: block
        width: $logo-size

h1, h2, h3, h4 
    text-shadow: $red 0 -1px 0
    font-family: Matchbook, Tahoma, sans-serif
    margin: $space
    text-transform: uppercase
    font-weight: bold
    text-align: center

h1
    color: $light-orange
    font-size: 5em
    margin-bottom: 0

h2
    color: $beige 
    font-size: 3em

h3 
    font-size: 2em


a 
    color: $light-orange

p
    margin-top: 0
    &.desc
        text-align: center

//Google Map styling
div 
    &#map-canvas
        @include dark-shadow
        margin: 0 auto
        height: 500px
        width: 90%
        background-color: $brown
        padding: $space

footer
    @include dark-shadow
    background-color: $brown
    background-image: url('../img/header_bg.jpg')
    padding: $space
    div#sponsors 
        max-width: $wrapper-width
        margin: 0 auto
        ul#sponsor_list
            width: 100%
            padding: 0  
            display: table
            text-align: center

            li 
                display: table-cell
                max-width: $sponsor_width
                img
                    vertical-align: top
                    margin: 0 auto
                    margin-bottom: $space
                    max-width: $sponsor_width
                    display: block
                span 
                    display: block
                    vertical-align: bottom
    h1, h2, h3, p, a 
        color: $light-orange
        text-shadow: $dark-brown 0 -1px 0

    a 
        text-decoration: none 
        font-weight: bold


@media screen and (max-width: 700px)
    ul#sponsor_list
        display: block