<script id="template-header" type="text/html">
    <header>
        <div id="header-wrapper">
            <div>
                <a href="http://cafehopkl.com"><img id='logo' src="img/cafehopkl_logo_dark.png" alt="CafeHop KL"/></a>
                <h1><a href="index.html" >CafeHop KL</a></h1>
            </div>
            <nav>
                <ul>
                    <li><a href="_about.html">About</a></li>
                    <li><a href="_map.html">Map</a></li>
                    <li><a href="#">Get A Copy</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
</script>