<div id="template-header" type="text/html">
    <header>
        <div id="header-wrapper">
            <div>
                <a href="http://cafehopkl.com"><img id='logo' src="img/chkl_logo.png" alt="CafeHop KL"/></a>
                <h1><a href="index.html" >CafeHop KL</a></h1>
            </div>
            <div>
            <nav>
                <a href="#" id="collapsed-nav-icon">
                    <img id="menu-icon" src="img/menu-icon.png"/>
                </a>
                <ul>
                    <li><a href="_about.html">About</a></li>
                    <li><a href="_map.html">Map</a></li>
                    <li><a href="_getacopy.html">Get A Copy</a></li>
                    <li><a href="_blog.html">Blog</a></li>
                    <li><a href="_contact.html">Contact</a></li>
                    <li class="soc-media-links"><a target="_blank" href="https://www.facebook.com/CafeHopKl"><img src="img/soc-media/soc-media-fb.png"/></a></li>
                </ul>
            </nav>
            </div>
        </div>
    </header>
</div>

<div id="template-footer" type="text/html">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43969265-1', 'cafehopkl.com');
      ga('send', 'pageview');

    </script>
    <footer>
        <div id="sponsors">
            <h3>Supported by</h3>
            <ul id="sponsor_list">
                <li>
                    <a href="https://www.facebook.com/BaristaGuildAsia?ref=br_rs" target="_blank">
                        <img src="img/sponsors/bga_logo.png" alt="Barrista Guild Asia"/>
                        <span>Barista Guild Asia</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/pages/Coffex-Coffee-Malaysia/117423838316850" target="_blank">
                        <img src="img/sponsors/coffex_logo.png" alt="Coffex Coffee Malaysia"/>
                        <span>Coffex Coffee</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/pages/Dankoff-Coffee-Specialist-Sdn-Bhd/144234565705319" target="_blank">
                        <img src="img/sponsors/dankoff_logo.png" alt="Cuppa"/>
                        <span>Dankoff Coffee Specialist</span>
                    </a>
                </li>
                <li>
                    <a href="http://cuppa.com.my" target="_blank">
                        <img src="img/sponsors/cuppa_logo.png" alt="Cuppa"/>
                        <span>Cuppa</span>
                    </a>
                </li>
                <li>
                    <a href="http://auresso.com.my" target="_blank">
                        <img src="img/sponsors/auresso_logo.png" alt="Auresso"/>
                        <span>Auresso</span>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</div>