<div id="template-header" type="text/html">
    <header>
        <div id="header-wrapper">
            <div>
                <a href="http://cafehopkl.com"><img id='logo' src="img/chkl_logo.png" alt="CafeHop KL"/></a>
                <h1><a href="http://cafehopkl.com" >CafeHop KL</a></h1>
            </div>
            <div>
            <nav>
                <a href="#" id="collapsed-nav-icon">
                    <img id="menu-icon" src="img/menu-icon.png"/>
                </a>
                <ul>
                    <li><a href="about.html">About</a></li>
                    <li><a href="map.html">Map</a></li>
                    <li><a href="getacopy.html">Get A Copy</a></li>
                    <li><a href="http://cafehopmy.com/blog">Blog</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li class="soc-media-links"><div class="addthis_horizontal_follow_toolbox"></div></li>
                </ul>
            </nav>
            </div>
        </div>
    </header>
</div>

<div id="template-footer" type="text/html">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43969265-1', 'cafehopkl.com');
      ga('send', 'pageview');

    </script>
    <footer>
        <div id="footer-wrapper">
            <div id="social-media-share">
            <h3>Spread the Word</h3>
            <div id="share-button" class="addthis_native_toolbox"></div>
			</div>
        

			<div id="sponsors">
				<h3>Featured by</h3>
				<ul id="sponsor_list">
					<li>
						<a href="http://www.themalaymailonline.com/eat-drink/article/cafe-hoppers-heres-a-map-just-for-you" target="_blank">
							<img src="img/media/MMO.png" alt="Malay Mail Online"/>
						</a>
					</li>
					<li>
						<img src= "img/media/The Edge.png" alt="The Edge" />
					</li>
					<li>
						<a href="http://poskod.my/features/chasing-kls-coffee-trail/" target="_blank"> <img src="img/media/poskodmy_logo.png" alt="Poskod MY"/> 
						</a>
					</li>
					<li>
						<a href="http://www.timeout.com/kuala-lumpur/food-and-drink/kls-third-wave-coffee-the-trends-and-the-cafes" target="_blank"> <img src="http://www.timeout.com/bundles/timeoutfrontend/images/logos/kualalumpur.png" alt="TimeOut KL"/> 
						</a>
					</li>
				</ul>
				
			</div>
			<div class="clear-both"></div>
		</div>
	</footer>
</div>

       