<script id="template-header" type="text/html">
    <header>
        <div id="header-wrapper">
            <div>
                <a href="http://cafehopkl.com"><img id='logo' src="img/chkl_logo.png" alt="CafeHop KL"/></a>
                <h1><a href="index.html" >CafeHop KL</a></h1>
            </div>
            <nav>
                <ul>
                    <li><a href="_about.html">About</a></li>
                    <li><a href="_map.html">Map</a></li>
                    <li><a href="_getacopy.html">Get A Copy</a></li>
                    <li><a href="_blog.html">Blog</a></li>
                    <li><a href="_contact.html">Contact</a></li>
                </ul>
                <img id="menu-icon" src="img/menu-icon.png"/>
            </nav>
        </div>
    </header>
</script>

<script id="template-footer" type="text/html">
    <footer>
        <div id="sponsors">
            <h3>Supported by</h3>
            <ul id="sponsor_list">
                <li>
                    <a href="https://www.facebook.com/BaristaGuildAsia?ref=br_rs" target="_blank">
                        <img src="img/sponsors/bga_logo.png" alt="Barrista Guild Asia"/>
                        <span>Barista Guild Asia</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/pages/Coffex-Coffee-Malaysia/117423838316850" target="_blank">
                        <img src="img/sponsors/coffex_logo.png" alt="Coffex Coffee Malaysia"/>
                        <span>Coffex Coffee</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/pages/Dankoff-Coffee-Specialist-Sdn-Bhd/144234565705319" target="_blank">
                        <img src="img/sponsors/dankoff_logo.png" alt="Cuppa"/>
                        <span>Dankoff Coffee Specialist</span>
                    </a>
                </li>
                <li>
                    <a href="http://cuppa.com.my" target="_blank">
                        <img src="img/sponsors/cuppa_logo.png" alt="Cuppa"/>
                        <span>Cuppa</span>
                    </a>
                </li>
                <li>
                    <a href="http://auresso.com.my" target="_blank">
                        <img src="img/sponsors/auresso_logo.png" alt="Auresso"/>
                        <span>Auresso</span>
                    </a>
                </li>
            </ul>
        </div>
    </footer>